html,body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.navbar {
	margin-bottom: 0;

	#input-plate-type {
		width: 96px;
	}

	#input-plate-size {
		width: 40px;
	}

	.btn-plate-type {
		width: 72px;
	}

	.btn.dropdown-toggle > span:first-of-type {
		margin-right: 0.5rem;
	}
}

#layout {
	display: flex;
	flex-grow: 1;

	#side {
		flex-basis: 5rem;
		background-color: grey;

		#bead-selection {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			 .bead:not(:last-child) {
				 margin-bottom: .5rem;
			 }
		}
	}

	#main {
		flex-grow: 1;
    	overflow: auto;
    	min-height: 100%;
	}
}

#plate-controls input {
	width: 50px;
}

input[type=file] {
	display: none;
}
